@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url("https://cdn.discordapp.com/attachments/1072172889790492673/1073640410943070308/BG_one_page.png");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    width: 50%;
}

a {
    width: 20vw;
}